* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(61, 61, 61);
}


.slider {
    width: 1100px;
    height: 600px;
    overflow: hidden;
    border: 80px solid #612424;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 16px;
    right: -25px;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    height: 15px;
    width: 15px;
    margin: 5px;
    cursor: pointer;

    opacity: .7;
    border-radius: 50%;
    transition: all .4s ease;
    background-color: rgb(181, 180, 180);
}

bar-active button,
.bar,
.bar-dots li {
    border: 1px solid #fff;
}




.bar:hover {
    opacity: 1;
    transform: scale(1.1);
    background-color: rgb(41, 35, 207);
    border-radius: 50%;

    /* background-color: transparent; */
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all .6s ease;

}


.slide img {
    width: 100%;
    height: 100%;

}

.text1 {
    width: auto;
    margin-top: -45px;
    color: aqua;
}





#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -25%;
}

#r3:checked~.s1 {
    margin-left: -50%;
}

#r4:checked~.s1 {
    margin-left: -75%;
}


.sub_slider {

    width: 1100px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    margin-top: 340px;
}

h1 {
    margin-top: 13px;
    margin-left: 50px;
    font-size: 30px;


}



@media (max-width: 1200px) {
    .slider {
        max-width: 970px;
        margin-left: 0px;


    }

    .navigation {
        align-items: 50px;
    }

    .sub_slider {
        left: 43%;
    }

}

@media (max-width: 992px) {
    .slider {
        max-width: 750px;
        margin-left: 90px;
        max-height: 500px;
    }

    .navigation {
        margin-bottom: 13px;
        transform: translateX(-450%);
    }

    .sub_slider {
        width: 1100px;
        height: 50px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 57%;
        /* transform: translate(-50%, -50%); */
        margin-top: 313px;
    }
}

@media (max-width: 767px) {
    .slider {
        max-width: 315;
        margin-left: 90px;
    }

    .navigation {
        transform: translateX(-500%);
    }

    .sub_slider {
        left: 67%;
    }
}

@media (max-width: 320px) {
    .slider {
        max-width: none;
        margin-left: 90px;
    }

    .navigation {
        transform: translateX(-500%);
    }
}